body {
  margin: 0;
  display: flex;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

.page {
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  background-color:"#fffaf5";
}

.scroll-container {
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
}

a {
  color: #fa7878;
}




.dot {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 10px;
  border: 1px solid black;
  cursor: pointer;
}

h1 {
  margin: 0px 0px;
}

h4 {
  margin: 0px 0px;
}

p {
  line-height: 1.4;
  margin: 0px;
}

#root {
  width: 100%;
}

.full-width {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.medium-text {
  font-family:sans-serif;
  margin: 0px 0px;
  font-size:"21px";
  font-weight:"normal";
  color:"#516371";
}

.center {
  align-items: center;
}
